#menu {
    display: flex;
    background-color: #16A177;
}
#menu a {
    font: 16px Arial;
    padding: 15px 40px;
    
    color: white;
    text-decoration: none;
}
#menu a.active,#menu a:hover  {
    background-color: #16785C;
}