*{
    box-sizing: border-box;
}
body{
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
}
body, h1, h2, p{
    margin: 0px;
    padding: 0px;
}
.wrapper, .blocks{
    margin: 0px auto;
    width: 1100px;
}
.wrapper p{
    text-align: justify;
    font-size: 13px;
    margin-bottom: 10px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0px 20px;
}
a.active, a:hover{
    background-color: #585858;
    line-height: 50px;
}
nav {
    font-size: 19px;
    display: flex;
    height: 50px;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
}
header, footer{
    background-color: #242424;
    color: white;
}
#container{
    display: flex;
    background-color: white;
}
main img {
    width: 495px;
    height: 375px;
    margin-bottom: 10px;
}
aside img{
    height: 168px;
    width: 270px;
    margin: 10px 0px;
}
main{
    width: 495px;
    padding: 20px 0px 20px 0px;
}
main h1{
    font-size: 21px;
    margin-bottom: 10px;
}
main h2{
    margin-top: 20px;
    font-size: 19px;
    margin-bottom: 20px;
}
aside{
    width: 300px;
    padding: 20px;
}
aside h2{
    font-size: 17px;
    margin-bottom: 10px;
}
footer{
    display: flex;
    height: 281px;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;  
    font-size: 13px;
}

.blocks{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}
.block{
    background-color: #fff;
    color: black;
    height: 200px;
    width: 250px;
    text-align: center;
    font-size: 12px
}
.blocks h1{
    font-size: 20px;
    margin: 15px 0 10px 0;
}
.cop{
    display: flex;
    align-items: center;
    justify-content: ;
    height: 50px;
}